[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = {extras = ["security"], version = "*"}
bs4 = "*"
lxml = "*"
ddddocr = "*"
urllib3 = "==1.25.11"
aiohttp = "*"
flask = "*"
selenium = "==4.1.5"
msedge-selenium-tools = "*"

[dev-packages]

[requires]
python_version = "3.9"
